@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Tektur&display=swap');

body {
  background: url('../img/10026.jpg') fixed;
}

/* ------------- HEADER ---------------- */
#help {
  font-size: 2rem;
  color: seagreen;
}

h1 {
  font-family: 'Tektur', cursive;
  text-align: center;
  margin-top: 0;
}
/* ---------------------------------- */


/* ------------- GAME ---------------- */
.game {
  display: flex;
  justify-content: space-between;
}
/* ---------------------------------- */

/* ------------- CHOICE ---------------- */
h2 {
  margin-bottom: 0;
}

.choice {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-button {
  margin: 1rem 0;
  cursor: pointer;
  width: 18vw;
  height: 6vh;
  border: none;
  border-radius: 10px;
}
.choice-button:hover {
  width: 19vw;
  height: 7vh;
}

.choice-button-1 {
  background-color: rgb(103, 189, 103);
}

.choice-button-2 {
  background-color: mediumseagreen;
}

.choice-button-3 {
  background-color: seagreen;
}

.choice-button-4 {
  background-color: forestgreen;
}

.choice-button-5 {
  background-color: green;
}

.choice-button-6 {
  background-color: darkgreen;
}
/* ---------------------------------- */

/* ------------- GUESS ---------------- */
.guess {
  width: 70%;
  margin: auto;
}
/* ---------------------------------- */

/* ------------- USER ---------------- */
.user {
  width: 65%;
  text-align: center;
}

label {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#number_user {
  width: 4rem;
  height: 1.5rem;
  padding: .5rem;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
}

.checking {
  font-family: 'Tektur', cursive;
  font-size: larger;
  color: white;
  background-color: green;
  padding: .4rem;
  border-radius: 50%;
  border: 1px solid green;
}

/* ---------------------------------- */

/* ------------- RESULT ---------------- */
#result {
  width: 70%;
  text-align: center;
  margin-top: 1rem;
}

#arrow_up, #arrow_down {
  display: inline;
  visibility: hidden;
  font-size: 2rem;
  padding-top: 1rem;
}
/* ---------------------------------- */

/* ------------- FOOTER ---------------- */
footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
/* ---------------------------------- */